## {{title}}

Post by {{author}} @ {{publishDate}} - [Permalink]({{srcFile}}) {{commentCountTxt}} - [Leave a comment](https://github.com/nicolasbrailo/nicolasbrailo.github.io/issues/new?title=Comment@{{srcFile}}&body=I%20have%20a%20comment!)

{{txt}}



